<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Mrityunjay Saxena">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="eGyanam Technical Services(ETS) specialises in cutting edge technological paradigms like cyber security, ml, analytics, mobile and web strategies. We help organisations with their people, process and technology initiatives.">
    <title>eGyanam Tech Services - Coming Soon</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80493437-3', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
    <div class="header columns twelve">
        <div class="row ">
            <div class="column mobile name">
                <p class="h1"><a href="#"><span class="brand">eGyanam</span>Tech</a></p>
            </div>

            <div class="columns three no-mobile named">
                <p class="h1 pull-right" style="margin-left:10px;"><a href="#" class="brand">eGyanam</a></p>
            </div>

            <div class="columns container six no-mobile name">
                <p class="h1"><a href="#">Tech</a></p>
            </div>
        </div>
    </div>

    <div class="row content">
        <div class="columns three left panel out">
            <!-- <div class="row named">
                <div class="columns twelve no-mobile name">
                    <p class="h1 pull-right" style="margin-top: 10px;"><a class="brand" href="#">eGyanam</a></p>
                </div>
            </div> -->
        </div>
    </div>

    <div class="row content">
        <!-- <div class="columns three left panel">
            <div class="row named">
                <div class="columns twelve no-mobile name">
                    <p class="h1 pull-right" style="margin-top: 10px;"><a class="brand" href="#">eGyanam</a></p>
                </div>
            </div>
        </div> -->

        <div class="columns nine arriving  offset-by-three">
            <div class="container arriving">
                <p class="h1">Stay tuned</p>
                <p class="h2">Coming Soon</p>
            </div>
        </div>
    </div>
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
    <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/trianglify.min.js"></script> -->
    <script async type="text/javascript" src="/javascripts/script.js"></script>
</body>
</html>