<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>eGyanam Tech Services - Coming Soon</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <div class="row ">
            <div class="column mobile name">
                <p class="h1"><a href="#"><span class="brand">eGyanam</span>Tech</a></p>
            </div>

            <div class="columns container offset-by-three six no-mobile name">
                <p class="h1"><a href="#">Tech</a></p>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="columns three left panel">
            <div class="row named">
                <div class="columns twelve no-mobile name">
                    <p class="h1 pull-right" style="margin-top: 10px;"><a class="brand" href="#">eGyanam</a></p>
                </div>
            </div>
        </div>

        <div class="columns nine coming offset-by-three">
            <div class="container coming">
                <p class="h1">Stay tuned</p>
                <p class="h2">Coming Soon</p>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="/javascripts/jquery.js"></script> -->
    <script type="text/javascript" src="/javascripts/trianglify.min.js"></script>
    <script type="text/javascript" src="/javascripts/script1.js"></script>
</body>
</html>