<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title><%= title %></title>
        <!-- <link rel='stylesheet' href='/stylesheets/normalize.css'> -->
        <!-- <link rel="stylesheet" href="/stylesheets/skeleton.css"> -->
        <link rel='stylesheet' href='stylesheets/style.css' />
        <!-- <link rel="stylesheet" href="stylesheets/font-awesome.min.css"> -->
    </head>
    <body>
        <div class="row">
            <div class="columns twelve nav">
                <div class="columns three">
                    <p class="h1 brand full"><a href="#">eGyanam <span class="brand tech-in">Tech</span></a></p>
                </div>
                <div><span class="brand tech-out h1 brand"><a href="#">Tech</a></span></div>
            </div>
        </div>
        <div class="row">
            <div class="columns three base left"></div>
            <div class="columns nine base right">
            </div>
        </div>
    </body>
</html>
