<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
    </head>
    <body>

        <header>
            <div class="row">
                <div class="columns four pull-right">
                    <a href="#" class="toggle-panel">eGyanam Tech
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </header>

        <div id="site-wrapper">
            <div id="scotch-panel"></div>

            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, eaque consectetur est debitis sint veritatis alias ipsa recusandae, nulla quis nesciunt distinctio sit sed iusto rem, quos itaque. Numquam, aperiam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa fuga nesciunt, repellendus beatae. Sequi soluta, aliquid assumenda tempore. Eligendi nulla nemo, in laudantium sequi hic deserunt veniam itaque ea id.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur amet ad alias officia quas quisquam incidunt ipsa, vero, ipsum itaque, totam perspiciatis consequuntur. Natus sit dicta velit at, alias beatae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto, pariatur necessitatibus. Eveniet aliquam amet ad optio praesentium. Praesentium hic unde nesciunt dolorum numquam magnam suscipit. Amet veritatis autem, facilis?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsum consequatur laboriosam consequuntur quaerat, deleniti sapiente enim dolorem rerum aliquam non maiores a odit, qui magnam ipsa minima molestiae. Rem.</p>
            </article>
        </div>

        <div id="fixed-nav">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>

        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/scotchPanels.min.js"></script>
        <script type="text/javascript" src="/javascripts/script1.js"></script>
    </body>
</html>