<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title><%= title %></title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
    </head>
    <body>

        <div class="header columns twelve">
            <div class="row ">
                <div class="column mobile name">
                    <p class="h2"><a href="#"><span class="brand">eGyanam</span>Tech</a> <a href="#" class="toggle-panel"><img src="/images/menu.svg" class="menu" alt="Menu"></a></p>
                </div>
                <div class="columns three no-mobile named">
                    <p class="h1 pull-right" style="margin-left:10px;"><a href="#" class="brand pull-right">eGyanam</a></p>
                </div>
                <div class="columns container two no-mobile name">
                    <p class="h1"><a href="#">Tech</a></p>
                </div>

                <div class="columns one offset-by-six no-mobile pull-right">
                    <p class="h1"><a href="#" class="toggle-panel pull-right"><img src="/images/menu.svg" class="menu" alt="Menu"></a></p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="columns three left panel out"></div>
        </div>

        <div id="site-wrapper" class="row content">
            <div id="scotch-panel"></div>

            <div class="columns nine home offset-by-three">
                <div class="arti">
                    <div class="img full columns twelve">
                        <img src="/images/img.jpg" alt="image" class="hero">
                        <div class="img-text">
                            <h1>oink 0inK</h1>
                            <h3>oinked asdfgha lorem bla sagdhj jahsfg</h3>
                        </div>
                    </div>

                    <div class="intro container">
                        <p>eGyanam technical services (ETS) provides premium consulting and implementation services in the following areas:
                            <ul>
                                <li>
                                    <p>Cyber Security</p>
                                </li>
                                <li>
                                    <p>Analytics and Machine Learning</p>
                                </li>
                                <li>
                                    <p>Mobility and Web Strategies</p>
                                </li>
                                <li>
                                    <p>Training and Resources</p>
                                </li>
                            </ul>
                        </p>

                        <p>ETS is part of eGyanam Consulting LLP, which also works in the area of social responsibility. </p>
                    </div><br>

                    <div class="csd container" id="csd">
                        <h3>Cyber Security Division</h3>
                        <p>We provide specialized consulting, training and implementation services to address critical cyber security requirements in the following areas:
                            <h4>Infrastructure & Security Operations Center:</h4>
                            <p>Design, consulting, and operations across multiple SIEM technologies, APT solutions, NG Firewalls, and network solutions.</p>

                            <h4>Vulnerability Assessment & Penetration Testing</h4>
                            <p>VA-PT services are provided to address compliance requirements for IT infrastructure, business applications and critical industrial infrastructure using a variety of tools.</p>
                        </p>
                    </div><br>

                    <div class="aml container" id="aml">
                        <h3>Analytics & Machine Learning DIvision:</h3>
                        <p>We are planning to introduce customized analytics and machine learning solutions in the near future.</p>
                    </div><br>

                    <div class="mwd container" id="mwd">
                        <h3>Mobility & Web Division</h3>
                        <p>ETS endeavours to formulate mobile and web strategies for our clients. ETS consultants have extensive skill and expertise in development and maintenance of interactive web apps and platform agnostic mobile & desktop solutions.</p>
                    </div><br>

                    <div class="tr container" id="tr">
                        <h3>Training & Resourcing Division</h3>
                            <p>
                                <h4>Training</h4>
                                ETS Training team provides training on the state of the solution and frameworks in various disciplines like:
                                <ul>
                                    <li>Security Operation Center Monitoring Principles.</li>
                                    <li>Information Security Awareness.</li>
                                </ul>
                            </p>
                            <p>
                                <h4>Resourcing</h4>
                                <p>ETS can be a partner for providing short term and long term resources on contract and permanent basis in areas of cyber security, mobile and web technologies, etc.</p>
                            </p>
                        </p>
                    </div><br>

                    <div class="team container" id="team">
                        <h3>Team</h3>
                        <p>We are a group of professionals from premier institutions like IITs, XLRI,IIMs who are working on the forefront of the leading technical domains like cyber security, analytics, and mobile computing.</p>
                        <p>We also provide our vast student community exposure on the leading edge of technology by making space for them in our projects.</p>
                    </div><br>

                    <div class="bb container" id="bb">
                        <h3>Why we are your best bet</h3>
                        <p>Our focus is on helping the organisations get the right skills and expertise to ensure that they are able to get maximum value out of their investment in technology and help them gain the necessary edge in business.</p>

                        <p>We have seen the evolution, development, and adoption of niche technologies across organisations.</p>
                    </div><br>

                    <div class="job container" id="job">
                        <h3>How would we do the job for you</h3>
                        <p>We follow an approach of helping the organisations with the required skill set that enables them to focus on their core business while we take take care of the ancillary processes for them.</p>
                    </div><br>

                    <div class="contact container" id="contact">
                        <h3 class="text-center">Contact Us</h3>
                        <div class="row container">
                            <div class="columns six" style="padding-top: 15px;">
                                <div class="address-wrapper">
                                    <h4>Address</h4>
                                    C-803, Callisto <br>
                                    Near Dutta Mandir <br>
                                    Wakad <br>
                                    Pune, India <br>
                                </div>

                                <div class="mail-wrapper">
                                </div>
                            </div>
                            <div class="columns six border-left">
                                <div class="form-wrapper">
                                    <h4>Get in Touch</h4>
                                    <form action="/mail" method="post" id="contact_f">
                                        <div class="row column"><input type="text" name="name" placeholder="Your Name" required></div>
                                        <div class="row"><input type="text" name="org" placeholder="Your Organisation" required></div>
                                        <div class="row"><input type="email" name="email" placeholder="Your Email" required></div>
                                        <div class="row"><textarea name="req" placeholder="Your Requirement" cols="20" rows="40" form="contact_f" required></textarea></div>
                                        <div class="row"><input type="submit" class="btn-blue"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="column footer"></div>
                </div>
            </div>
        </div>

        <div id="fixed-nav" style="display: none;">
            <div class="column fixed-height-offset"><p class="h1">Menu</div>
            <ul style="margin-top: 8rem;">
                <li><a href="#csd" class="nav-link">Cyber Security</a></li>
                <li><a href="#aml" class="nav-link">Analytics</a></li>
                <li><a href="#mwd" class="nav-link">Mobile & Web</a></li>
                <li><a href="#train" class="nav-link">Training & Resources</a></li>
                <li><a href="#team" class="nav-link">Team</a></li>
                <li><a href="#bb" class="nav-link">Your Best Bet</a></li>
                <li><a href="#job" class="nav-link">Best Job</a></li>
            </ul>
        </div>

        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script async type="text/javascript" src="/javascripts/scotchPanels.min.js"></script>
        <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
        <script async type="text/javascript" src="/javascripts/script.js"></script>
    </body>
</html>