@import "normalize";
@import "skeleton";

body{
    background: #333;
}


.header{
    width: 100%;
}

#site-wrapper{
    @media (min-width: 800px) {
        &{
            padding-top: 7rem;
        }
    }

    & .scotch-panel-canvas{
        z-index: 8;
    }
}

article{
    padding: 5px;
    font-size: 2rem;
}

#scotch-panel{
    display: none;
}

#fixed-nav{
    display: none;
    position:fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 40%;
    background: #FAD7A0;
    z-index: 1;

    & ul{
        list-style: none;
        padding:0;
        margin: 0;
        text-align: center;

        & li a{
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            background: transparent;
            color: #2c3e50;

            &:hover{
                background: darken(#FAD7A0, 10%);
            }
        }
    }
}

.fixed-height-offset{
    height: 7rem;
    padding: 5px;
    background: #16a085;

    @media (min-width: 800px) {
        &{
            // height: 8rem;
        }
    }
}
