@import "style1";

// @font-face {
//     font-family:'Raleway';
//     src:url('../../fonts/Raleway-Regular.ttf');
// }

body{
    font-family: 'Raleway', sans-serif;
    color: #f39c12;
    background: #2c3e50;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #2c3e50;

    &:hover{
        color: saturate(#f39c12, 25%);
    }
}

.panel{
    position: relative;
    margin-top: 6rem;

    @media (min-width: 800px) {
        margin-top: auto;
    }
    &.left{
        position: relative;
        background: #e74c3c url('../../images/texture.png') repeat;
        height: 30vh;

        @media (min-width: 800px) {
            &{
                top: 0;
                left: 0;
                z-index: 5;
                position: fixed;
                height: 100%;
            }
        }
    }
}

.coming{
    position: static;
    height: auto;
    padding: 15px;

    @media (min-width: 800px) {
        &{
            height: 400px;
            position: relative;
            top: 50%;
            padding: 5px;
        }
    }
}

.header{
    height: 6rem;
    padding: 10px;
    background: #16a085;
    color: #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    @media (min-width: 800px) {
        &{
            height: 7rem;
        }
    }

    &>.row{
        position: relative;

        &>.mobile{
            text-align: center;
        }
    }
}

.brand{
    color: #ecf0f1;
    padding: 15px;
}

.named{
    background: transparent;

    &>.name>.h1{
        margin: 0;
    }
}
