@import "style1";

// @font-face {
//     font-family:'Raleway';
//     src:url('../../fonts/Raleway-Regular.ttf');
// }

body{
    font-family: 'Raleway', sans-serif;
    color: #f4f6f9;
    background: #2c3e50;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #FAD7A0;
    cursor: pointer;

    &:hover{
        color: saturate(#2c3e50, 25%);
    }
}



.panel{
    position: relative;
    margin-top: 7rem;

    @media (min-width: 800px) {
        margin-top: auto;
    }
    &.left{
        position: relative;
        background: #e74c3c url('../../images/texture.png') repeat;
        height: 30vh;
        z-index: 7;

        @media (min-width: 800px) {
            &{
                z-index: -1;
                top: 0;
                left: 0;
                position: fixed;
                height: 100%;
            }
        }
    }
}

.coming{
    position: static;
    height: auto;

    @media (min-width: 800px) {
        &{
            height: 400px;
            position: relative;
            top: 50%;
        }
    }
}

.header{
    height: 7rem;
    padding: 5px;
    background: #16a085;
    color: #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    overflow-y: hidden;

    &>.row{
        position: relative;

        &>.mobile{
            text-align: center;
        }
    }
}

.brand{
    color: #ecf0f1;
    padding: 5px;
}

.name{
    padding-left: 10px;
    &>h1{
        margin: 0;
    }
}

.named{
    background: #e74c3c url("../../images/texture.png") repeat;
    margin: -5px;
}

.form-wrapper{}

.btn-blue{
    background-color: #2c3e50 !important;
    color: #f39c12 !important;
}

.home{
    @extend .coming;
    background: #2c3e50;
    height: auto;
    padding: 0;
}

.arriving{
    @extend .coming;
    @media (min-width: 800px) {
        &{
            height: 400px;
        }
    }
}

.arti{
    @extend .coming;
    min-height: 100vh;
    height: auto;
    &>.container{
        font-size: 1.2em;
        padding-top: 7rem;

        &>h3{color: darken(#FAD7A0, 35%);}
        &>h4{color: #FAD7A0;}

        &>ul>li{
            list-style: none;
            padding-left: 20px;

            &:before{
                content: '\221E';
                font-weight: 300;
            }
        }


    }
}

.out{
    @media (min-width: 800px) {
        &{
            z-index: -1;
        }
    }
}

.menu{
    width: 4rem;
}

.hero{
    max-width: 100%;
    height: auto;
}

.img-text{
    position: absolute;
    top: 5%;
    right: 5%;
    // color: #2c3e50;
    color: #ecf0f1;
    z-index: 3;
    padding-right: 5px;
    text-align: right;

}

::selection{
    background: #f2baba;
    color: #333;
}

.footer{
    padding: 10px;
    // background: #654de2;
    background: #16a085;
    // background: #e74c3c url("../../images/texture.png") repeat;
    text-align: center;
    color: #bdc3c7;
}

.contact{
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    & h4{
        color: #FAD7A0;
        text-align: center;

        @media (min-width: 800px) {
            &{
                text-align: left;
            }
        }
    }
}

.border-left{
    @media (min-width: 800px) {
        &{
            border-left: 1px solid #FAD7A0;
            padding-left: 30px;
            margin-left: -1px;
        }
    }
}

.border-right{
    @media (min-width: 800px) {
        &{
            border-right: 1px solid #FAD7A0;
            padding-right: 30px;
        }
    }
}
q{
    display: inline;

    &:before{
        content:  "\201C ";
    }

    &:after{
        content:  "\201E";
    }
}

input,
textarea,
#contact_f>.row{
    width: 25rem;
    color: #333;
}
